.Header
{
    width: 100%;
    height: 100vh;
    /* background: url("E:\Minor Project\restrospace\public\Images\hero-slider-1.jpg"); */
    background: url("../../public/Images/hero-slider-1.jpg");
    display: block !important; 
    justify-content: center ;
    position: relative;
}

.headerOne
{
    width: 97%;
    justify-content: space-between; 
    align-items: center; 
    margin: 20px;
    /* background-color: aquamarine; */
}



ul{

    display: flex;
}

li{

    padding: 10px;
}


button{
    font-weight: var(--weight-regular);
    font-size:var(-fontSize-body-4) ;
}



/* part 2 */


.headerTwo
{
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    /* background-color: aliceblue; */
    width: 100%;
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrowBtn
{
    
    width: 30px;
    height: 30px;
    background-color: var(--gold-crayola) ;
    transform: rotate(45deg);
    margin: 50px;
    
}

.mainTextComp
{   
    text-align: center;
    justify-content: center;
    
}
#mainText
{
    font-size: var(--fontSize-display-1);
    line-height: var(--lineHeight-1);
    letter-spacing: var(--letterSpacing-1);
    padding: 10px 0 20px 0px;
}

#viewOurMenuBtn
{
    margin-top: var(--margin-head);
}
